In [85]:
import sqlite3

In [86]:
db=sqlite3.connect("pickupsport.db")
cursor = db.cursor()

In [87]:
cursor = db.cursor()
cursor.execute('''Create Table User(UID Int indentity PRIMARY KEY, Name Text, DOB datetime, Email text, Phone text, Gender Text, Admin Text) ''')
cursor.execute('''Create Table Event(EID Int PRIMARY KEY, Organizer Text, Players int, Time datetime, VID Int, Capacity Int, Description Text, GID Int)''')
cursor.execute('''Create Table Venue(VID Int PRIMARY KEY, Name Text, Location Text, Description Text)''')
cursor.execute('''Create Table Gear(GID Int PRIMARY KEY, Name Int, Description Text, Price Float)''')
db.commit()

In [120]:
#cursor.execute('''Drop Table User''')
#cursor.execute('''Drop Table Gear''')
#cursor.execute('''Drop Table Event''')
#cursor.execute('''Drop Table Venue''')
db.commit()

OperationalError: database is locked

In [88]:
import datetime
cursor = db.cursor()
users = [('1', 'Lionel Messi', datetime.date(1987,5,27), 'leo@barca.com', '650-123-4567', 'M', 'N'),
        ('2', 'Rohit Sharma', datetime.date(1987,5,13), 'hitman@india.com', '991-263-5100', 'M', 'Y'),
        ('3', 'Jofra Archer', datetime.date(1993,12,29), 'jofracher@fast.com', '145-762-1180', 'M', 'N'),
        ('4', 'Alexandre Lacazette', datetime.date(1991,6,8), 'laca@arsenal.com', '991-263-5100', 'M', 'N'),
        ('5', 'Ellyse Perry', datetime.date(1990,10,20), 'eperry@aussie.com', '130-267-3048', 'F', 'Y'),
        ('6', 'Kane Williamson', datetime.date(1990,2,6), 'kanewill@kiwi.com', '500-241-2410', 'M', 'Y'),
        ('7', 'Ben Stokes', datetime.date(1991,11,16), 'stokesy@england.com', '840-241-2411', 'M', 'N'),
        ('8', 'Alex Morgan', datetime.date(1989,7,1), 'amorgan@usa.com', '492-363-8571', 'F', 'Y'),
        ('9', 'Serena Williams', datetime.date(1981,9,24), 'serena@tennis.com', '565-453-4237', 'F', 'N'),
        ('10', 'Roger Federer', datetime.date(1981,8,12), 'roger@goat.com', '200-985-6278', 'M', 'N')]
cursor.executemany('''INSERT INTO User Values(?,?,?,?,?,?,?)''', users)
db.commit()
cursor.execute('''select * from User''')
user = cursor.fetchall()
for u in user:
    print(u)

(1, 'Lionel Messi', '1987-05-27', 'leo@barca.com', '650-123-4567', 'M', 'N')
(2, 'Rohit Sharma', '1987-05-13', 'hitman@india.com', '991-263-5100', 'M', 'Y')
(3, 'Jofra Archer', '1993-12-29', 'jofracher@fast.com', '145-762-1180', 'M', 'N')
(4, 'Alexandre Lacazette', '1991-06-08', 'laca@arsenal.com', '991-263-5100', 'M', 'N')
(5, 'Ellyse Perry', '1990-10-20', 'eperry@aussie.com', '130-267-3048', 'F', 'Y')
(6, 'Kane Williamson', '1990-02-06', 'kanewill@kiwi.com', '500-241-2410', 'M', 'Y')
(7, 'Ben Stokes', '1991-11-16', 'stokesy@england.com', '840-241-2411', 'M', 'N')
(8, 'Alex Morgan', '1989-07-01', 'amorgan@usa.com', '492-363-8571', 'F', 'Y')
(9, 'Serena Williams', '1981-09-24', 'serena@tennis.com', '565-453-4237', 'F', 'N')
(10, 'Roger Federer', '1981-08-12', 'roger@goat.com', '200-985-6278', 'M', 'N')

In [89]:
events = [('1', 'Austin FC', '0', datetime.datetime(2019,8,10,18), '1', '50', 'Pick up soccer', '0'),
        ('2', 'Austin FC', '0', datetime.datetime(2019,8,17,19), '2', '11', 'Soccer Tournament', '0'),
        ('3', 'Tennis Texas', '0', datetime.datetime(2019,7,29,18), '3', '25', 'Junior drop in organized by Tennis Texas club', '0'),
        ('4', 'Tennis Texas', '0', datetime.datetime(2019,8,15,17), '3', '16', 'Doubles tournament', '0'),
        ('5', 'Cricket Austin', '0', datetime.datetime(2019,8,21,10), '4', '22', 'League game', '0')]
cursor.executemany('''INSERT INTO Event Values(?,?,?,?,?,?,?,?)''', events)
db.commit()

In [90]:
venuedata= [(1,"SoccerZone", "South Austin", "Indoor soccer field"),
           (2,"SoccerZone", "North Austin", "Outdoor soccer field"),
           (3,"Tennis Club Austin", "West Campus", "Eight outdoor tennis courts"),
           (4,"CricketZone", "East Austin", "Giant cricket ground")]

cursor.executemany('''INSERT INTO Venue VALUES(?,?,?,?)''', venuedata)
db.commit()
cursor.execute('''Select * from Venue''')
all = cursor.fetchall()
for v in all:
    print(v)

(1, 'SoccerZone', 'South Austin', 'Indoor soccer field')
(2, 'SoccerZone', 'North Austin', 'Outdoor soccer field')
(3, 'Tennis Club Austin', 'West Campus', 'Eight outdoor tennis courts')
(4, 'CricketZone', 'East Austin', 'Giant cricket ground')

In [91]:
geardata= [(1,"Goalkeeper gloves","The gloves is designed purely to block the ball and to permit the goalkeeper to hold and use his or her stick",3.99),
          (2,"Soccer Cleats","The shoes provide traction as you run",5.99),
           (3,"Shin Guards","This is a piece of equipment worn on the front of a player's shin to protect it from injury. ",2.49)]

cursor.executemany('''INSERT INTO Gear(GID, Name, Description, Price)
                  VALUES(?,?,?,?)''', geardata)
db.commit()
cursor.execute('''Select * from Gear''')
all = cursor.fetchall()
for g in all:
    print(g)

(1, 'Goalkeeper gloves', 'The gloves is designed purely to block the ball and to permit the goalkeeper to hold and use his or her stick', 3.99)
(2, 'Soccer Cleats', 'The shoes provide traction as you run', 5.99)
(3, 'Shin Guards', "This is a piece of equipment worn on the front of a player's shin to protect it from injury. ", 2.49)

In [3]:
# Function 1: add a new User given the User information and only if the admin is adding the user
def addUser(AccountID, name, dob, email, phone, gender, admin): # Acount ID is UID of the user trying to add a new user
    cursor.execute('''select Admin from User where UID = ?''',(AccountID,))
    iden = cursor.fetchone()
    if iden[0] == "Y":
        cursor.execute('''select * from User''')
        size = len(cursor.fetchall())
        user = (size+1,name, dob, email, phone, gender, admin)
        cursor.execute('''INSERT INTO User VALUES(?,?,?,?,?,?,?)''', user)
        db.commit()
    else:
        print("You don't have the rights to remove event(s)!")

# Function 2: add a new User given the User information
def addVenue(VID,Name,Location,Description):
    cursor.execute('''INSERT INTO Venue VALUES(?,?,?,?)''',(VID,Name,Location,Description))
    db.commit()

# Function 3: start a new Event given the Event details   
def addEvent(EID,Organizer,Players,Time,VID,Capacity,Description,GID):
        cursor.execute('''INSERT INTO Event VALUES(?,?,?,?,?,?,?,?)''',(EID, Organizer,Players,Time,VID,Capacity,Description,GID))
        db.commit()

# Function 4: display all timeslot available for a particular venue
def showTimeslotByVenue(venue):
    cursor.execute('''select Time from Event where VID = ?''',(venue,))
    slot = cursor.fetchall()
    for s in slot:
        print(s)

# Function 5: display all venues where a particular timeslot is available
def showAllVenues(*args):
    for time in args:
        print("Venue information at",(time),":")
        cursor.execute('''select VID, Time, Capacity from Event where Time = ?''',(time,))
        allvenue = cursor.fetchall()
        size = len(allvenue)
        if size ==0:
            print("There is no avaliable venues on your selected time.")
        for a in allvenue:
            print(a)
        print("")


# Function 6: display which events are available given a timeslot and venue
def showEventsAtVenueByTime(venue, time):
    cursor.execute('''SELECT Event.Organizer, Event.Players, Event.Capacity, Event.Description FROM Event 
                      INNER JOIN Venue ON Event.VID = Venue.VID WHERE Event.VID = ? AND Event.Time = ? 
                      AND Event.Capacity > 0''',(venue, time))
    eventsAtVenue = cursor.fetchall()
    eventSize = len(eventsAtVenue)
    if(eventSize) == 0:
        print("There are no avaliable events for your selected time and venue.")     
    for e in eventsAtVenue:
        print(e)

#Function 7: add a user to an event by decreasing the event's capacity
def addUserToEvent(user, event):
    cursor.execute('''SELECT Players, Capacity FROM Event where EID = ?''',(event,))
    eventToJoin = cursor.fetchone()
    players = int(eventToJoin[0])
    capacity = int(eventToJoin[1])
    if (players < capacity):
        print("User has been added") #TODO: add more to message
        players += 1
        capacity -= 1
        cursor.execute('''UPDATE Event SET Players = ?, Capacity = ? where EID = ?''', (players, capacity, event))
        db.commit()
    else:
        print("Event full, user cannot be added")

# Function 9: remove an event only if admin is accessing the table
def removeEvent(UID,EID):
    cursor.execute('''select Admin from User where UID = ?''',(UID,))
    iden = cursor.fetchone()
    print(iden[0])
    if iden[0] == "Y":
        cursor.execute('''delete from Event where EID = ?''',(EID,))
        db.commit()
    else:
        print("You don't have the rights to remove an event!")
        
# Extra functions: 
# Function 8: show all Users in the app
def showAllUsers():
    cursor.execute('''select * from User''')
    users = cursor.fetchall()
    for u in users:
        print(u)
        
# Function 10: add a new gear category
def addGear(Name,Description,Price):
    cursor.execute('''SELECT COUNT(*) FROM Gear''')
    size = cursor.fetchone()
    cursor.execute('''INSERT INTO Gear VALUES(?,?,?,?)''',(size[0]+1,Name,Description,Price))
    db.commit()
    
# Function 11: add a gear type to a particular event
def addGearToEvent(GID, EID):
    cursor.execute('''ALTER TABLE Event ADD GID Int''')
    cursor.execute('''UPDATE Event SET GID = ? WHERE EID = ?''',(GID,EID))
    db.commit()

In [75]:
#TODO: Misc code (can delete later)

#add_venue(5,5,15,"Intramural fields","3")

def showGearByEvent(event):
    cursor.execute('''SELECT Gear.Name, Gear.Description FROM Gear 
                      INNER JOIN Venue ON Gear.VID = Venue.VID
                      WHERE VENUE.EID = ?''',(event,))
    gears = cursor.fetchall()
    for g in gears:
        print(g)
#showGearByEvent(2)
def showTimeslotByVenue(venue):
    cursor.execute('''select Time from Event where VID = ?''',(venue,))
    slot = cursor.fetchall()
    for s in slot:
        print(s)
#showTimeslotByVenue(3)
def showAllVenues(*args):
    for time in args:
        print("Venue information at",(time),":")
        cursor.execute('''select VID, Time, Capacity from Event where Time = ?''',(time,))
        allvenue = cursor.fetchall()
        size = len(allvenue)
        if size ==0:
            print("There is no avaliable venues on your selected time.")
        for a in allvenue:
            print(a)
        print("")
#showAllVenues(datetime.datetime(2019,7,29,18),datetime.datetime(2019,8,15,17))
def showEventsAtVenueByTime(venue, time):
    cursor.execute('''SELECT Event.Organizer, Event.Players, Event.Capacity, Event.Description FROM Event 
                      INNER JOIN Venue ON Event.VID = Venue.VID WHERE Event.VID = ? AND Event.Time = ? 
                      AND Event.Capacity > 0''',(venue, time))
    eventsAtVenue = cursor.fetchall()
    eventSize = len(eventsAtVenue)
    if(eventSize) == 0:
        print("There are no avaliable events for your selected time and venue.")     
    for e in eventsAtVenue:
        print(e)
showEventsAtVenueByTime(3,datetime.datetime(2019,7,29,18))

('Tennis Texas', 0, 25, 'Junior drop in organized by Tennis Texas club')

In [119]:
#cursor.execute('''UPDATE Event SET Capacity = 0 where EID = 3''')

#addVenue('5','Test','tes','tes')
def addEvent(EID,Organizer,Players,Time,VID,Capacity,Description):
        cursor.execute('''INSERT INTO Event VALUES(?,?,?,?,?,?,?)''',(EID, Organizer,Players,Time,VID,Capacity,Description))
        db.commit()
#addEvent(6, "CricketAustin",0,datetime.date(2010,10,3),3,24,"Just for fun")
import datetime
def addUser(AccountID, name, dob, email, phone, gender, admin): # Acount ID is UID of the user trying to add a new user
    cursor.execute('''select Admin from User where UID = ?''',(AccountID,))
    iden = cursor.fetchone()
    if iden[0] == "Y":
        cursor.execute('''select * from User''')
        size = len(cursor.fetchall())
        user = (size+1,name, dob, email, phone, gender, admin)
        cursor.execute('''INSERT INTO User VALUES(?,?,?,?,?,?,?)''', user)
        db.commit()
    else:
        print("You don't have the rights to remove event(s)!")
#addUser(2,'Name',datetime.date(2000,1,1),'e','4534','N','N')
def addUserToEvent(user, event):
    cursor.execute('''SELECT Players, Capacity FROM Event where EID = ?''',(event,))
    eventToJoin = cursor.fetchone()
    players = int(eventToJoin[0])
    capacity = int(eventToJoin[1])
    if (players < capacity):
        print("User has been added") #TODO: add more to message
        players += 1
        capacity -= 1
        cursor.execute('''UPDATE Event SET Players = ?, Capacity = ? where EID = ?''', (players, capacity, event))
        db.commit()
    else:
        print("Event full, user cannot be added")
#addUserToEvent(1,1)
def removeEvent(UID,EID):
    cursor.execute('''select Admin from User where UID = ?''',(UID,))
    iden = cursor.fetchone()
    print(iden[0])
    if iden[0] == "Y":
        cursor.execute('''delete from Event where EID = ?''',(EID,))
        db.commit()
    else:
        print("You don't have the rights to remove an event!")
#removeEvent(2,6)
def addGear(Name,Description,Price):
    cursor.execute('''SELECT COUNT(*) FROM Gear''')
    size = cursor.fetchone()
    cursor.execute('''INSERT INTO Gear VALUES(?,?,?,?)''',(size[0]+1,Name,Description,Price))
    db.commit()
#addGear('T','t','34')
def addGearToEvent(GID, EID):
    #cursor.execute('''ALTER TABLE Event ADD GID Int''')
    cursor.execute('''UPDATE Event SET GID = ? WHERE EID = ?''',(GID,EID))
addGearToEvent(2,1)
cursor.execute('''select * from Event''')
events = cursor.fetchall()
for e in events:
    print(e)

(1, 'Austin FC', 1, '2019-08-10 18:00:00', 1, 49, 'Pick up soccer', 2)
(2, 'Austin FC', 0, '2019-08-17 19:00:00', 2, 11, 'Soccer Tournament', 1)
(3, 'Tennis Texas', 0, '2019-07-29 18:00:00', 3, 25, 'Junior drop in organized by Tennis Texas club', 1)
(4, 'Tennis Texas', 0, '2019-08-15 17:00:00', 3, 16, 'Doubles tournament', 1)
(5, 'Cricket Austin', 0, '2019-08-21 10:00:00', 4, 22, 'League game', 1)

In [28]:
import datetime
def showallvenues(*args):
    for time in args:
        print("Venue information at",(time),":")
        cursor.execute('''select Venue, Time, Capacity from Event where Time = ?''',(time,))
        allvenue = cursor.fetchall()
        size = len(allvenue)
        if size ==0:
            print("There is no avaliable venues on your selected time.")
        for a in allvenue:
            print(a)
        print("")


def addUserToEvent(user, event):
    cursor.execute('''SELECT Players, Capacity FROM Event where EID = ?''',(event,))
    eventToJoin = cursor.fetchone()
    players = int(eventToJoin[0])
    capacity = int(eventToJoin[1])
    if (players < capacity):
        print("User can be added")
        players += 1
        capacity -= 1
        cursor.execute('''UPDATE Event SET Players = ?, Capacity = ? where EID = ?''', (players, capacity, event))
    else:
        print("Event full, user cannot be added")
addUserToEvent(2,4)
cursor.execute('''select * from Event''')
events = cursor.fetchall()
for e in events:
    print(e)
        
#showallvenues(datetime.datetime(2019,8,17,19),datetime.datetime(2019,3,4,12))

User can be added
(1, 'Austin FC', 0, '2019-08-10 18:00:00', 1, 50, 'Pick up soccer')
(2, 'Austin FC', 0, '2019-08-17 19:00:00', 1, 11, 'Soccer Tournament')
(3, 'Tennis Texas', 0, '2019-07-29 18:00:00', 1, 0, 'Junior drop in organized by Tennis Texas club')
(4, 'Tennis Texas', 1, '2019-08-15 17:00:00', 1, 15, 'Doubles tournament')
(5, 'Cricket Austin', 0, '2019-08-21 10:00:00', 1, 22, 'League game')

In [21]:
def addUser(UID, name, dob, email, phone, gender, admin):
    cursor.execute('''select Admin from User where UID = ?''',(UID,))
    iden = cursor.fetchone()
    if iden[0] == "Y":
        cursor.execute('''select * from User''')
        size = len(cursor.fetchall())
        user = (size+1,name, dob, email, phone, gender, admin)
        cursor.execute('''INSERT INTO User VALUES(?,?,?,?,?,?,?)''', user)
    else:
        print("You don't have the rights to remove event(s)!")
        
#addUser('11', 'Test', datetime.date(1984,10,31), 'test@test', '555-555-5555', 'M', 'N')

def showAllUsers():
    cursor.execute('''select * from User''')
    users = cursor.fetchall()
    for u in users:
        print(u)
        
showAllUsers()

(1, 'Lionel Messi', '1987-05-27', 'leo@barca.com', '650-123-4567', 'M', 'N')
(2, 'Rohit Sharma', '1987-05-13', 'hitman@india.com', '991-263-5100', 'M', 'Y')
(3, 'Jofra Archer', '1993-12-29', 'jofracher@fast.com', '145-762-1180', 'M', 'N')
(4, 'Alexandre Lacazette', '1991-06-08', 'laca@arsenal.com', '991-263-5100', 'M', 'N')
(5, 'Ellyse Perry', '1990-10-20', 'eperry@aussie.com', '130-267-3048', 'F', 'Y')
(6, 'Kane Williamson', '1990-02-06', 'kanewill@kiwi.com', '500-241-2410', 'M', 'Y')
(7, 'Ben Stokes', '1991-11-16', 'stokesy@england.com', '840-241-2411', 'M', 'N')
(8, 'Alex Morgan', '1989-07-01', 'amorgan@usa.com', '492-363-8571', 'F', 'Y')
(9, 'Serena Williams', '1981-09-24', 'serena@tennis.com', '565-453-4237', 'F', 'N')
(10, 'Roger Federer', '1981-08-12', 'roger@goat.com', '200-985-6278', 'M', 'N')
(11, 'LeBron James', '1984-10-31', 'lebron@la.nba', '631-278-2695', 'M', 'Y')
(12, 'Test', '1984-10-31', 'test@test', '555-555-5555', 'M', 'N')

In [75]:
def removeevent(UID,*args):
    cursor.execute('''select Admin from User where UID = ?''',(UID,))
    iden = cursor.fetchone()
    if iden[0] == "Y":
        for EID in args:
            cursor.execute('''delete from Event where EID = ?''',(EID,))
            db.commit()
    else:
        print("You don't have the rights to remove event(s)!")
    
removeevent(2,5,6)