In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("C:/sqlite/soccer.db")
cursor = db.cursor()

In [12]:
cursor = db.cursor()
cursor.execute('''Create Table User(UID Int indentity PRIMARY KEY, Name Text, DOB datetime, Email text, Phone text, Gender Text, Admin Text) ''')
cursor.execute('''Create Table Event(EID Int PRIMARY KEY, Organizer Text, Players int, Status Text, Time datetime, Venue Int, Capacity Int, Description Text)''')
cursor.execute('''Create Table Venue(VID Int PRIMARY KEY, EID Int, VenueCapacity Int, Description Text, Gear_Availability Int)''')
cursor.execute('''Create Table Gear(GID Int PRIMARY KEY, Name Int, Description Text, Price Float, VID Int)''')
db.commit()

In [10]:
cursor.execute('''Drop Table Gear''')
db.commit()

In [11]:
cursor.execute('''Drop Table Event''')
db.commit()
cursor.execute('''Drop Table User''')
db.commit()
cursor.execute('''Drop Table Venue''')
db.commit()

In [13]:
import datetime
cursor = db.cursor()
users = [('1', 'Lionel Messi', datetime.date(1987,5,27), 'leo@barca.com', '650-123-4567', 'M', 'N'),
        ('2', 'Rohit Sharma', datetime.date(1987,5,13), 'hitman@india.com', '991-263-5100', 'M', 'Y'),
        ('3', 'Jofra Archer', datetime.date(1993,12,29), 'jofracher@fast.com', '145-762-1180', 'M', 'N'),
        ('4', 'Alexandre Lacazette', datetime.date(1991,6,8), 'laca@arsenal.com', '991-263-5100', 'M', 'N'),
        ('5', 'Ellyse Perry', datetime.date(1990,10,20), 'eperry@aussie.com', '130-267-3048', 'F', 'Y'),
        ('6', 'Kane Williamson', datetime.date(1990,2,6), 'kanewill@kiwi.com', '500-241-2410', 'M', 'Y'),
        ('7', 'Ben Stokes', datetime.date(1991,11,16), 'stokesy@england.com', '840-241-2411', 'M', 'N'),
        ('8', 'Alex Morgan', datetime.date(1989,7,1), 'amorgan@usa.com', '492-363-8571', 'F', 'Y'),
        ('9', 'Serena Williams', datetime.date(1981,9,24), 'serena@tennis.com', '565-453-4237', 'F', 'N'),
        ('10', 'Roger Federer', datetime.date(1981,8,12), 'roger@goat.com', '200-985-6278', 'M', 'N')]
cursor.executemany('''INSERT INTO User Values(?,?,?,?,?,?,?)''', users)
db.commit()
cursor.execute('''select * from User''')
user = cursor.fetchall()
for u in user:
    print(u)

(1, 'Lionel Messi', '1987-05-27', 'leo@barca.com', '650-123-4567', 'M', 'N')
(2, 'Rohit Sharma', '1987-05-13', 'hitman@india.com', '991-263-5100', 'M', 'Y')
(3, 'Jofra Archer', '1993-12-29', 'jofracher@fast.com', '145-762-1180', 'M', 'N')
(4, 'Alexandre Lacazette', '1991-06-08', 'laca@arsenal.com', '991-263-5100', 'M', 'N')
(5, 'Ellyse Perry', '1990-10-20', 'eperry@aussie.com', '130-267-3048', 'F', 'Y')
(6, 'Kane Williamson', '1990-02-06', 'kanewill@kiwi.com', '500-241-2410', 'M', 'Y')
(7, 'Ben Stokes', '1991-11-16', 'stokesy@england.com', '840-241-2411', 'M', 'N')
(8, 'Alex Morgan', '1989-07-01', 'amorgan@usa.com', '492-363-8571', 'F', 'Y')
(9, 'Serena Williams', '1981-09-24', 'serena@tennis.com', '565-453-4237', 'F', 'N')
(10, 'Roger Federer', '1981-08-12', 'roger@goat.com', '200-985-6278', 'M', 'N')

In [9]:
events = [('1', 'Austin FC', '0', datetime.datetime(2019,8,10,18), '1', '50', 'Pick up soccer'),
        ('2', 'Austin FC', '0', datetime.datetime(2019,8,17,19), '1', '11', 'Soccer Tournament'),
        ('3', 'Tennis Texas', '0', datetime.datetime(2019,7,29,18), '1', '25', 'Junior drop in organized by Tennis Texas club'),
        ('4', 'Tennis Texas', '0', datetime.datetime(2019,8,15,17), '1', '16', 'Doubles tournament'),
        ('5', 'Cricket Austin', '0', datetime.datetime(2019,8,21,10), '1', '22', 'League game')]
cursor.executemany('''INSERT INTO Event Values(?,?,?,?,?,?,?)''', events)
db.commit()

OperationalError: table Event has 8 columns but 7 values were supplied

In [16]:
venuedata= [(1,1,15,"SoccerZone South Austin",10),
          (2,2,12,"SoccerZone North Austin",13),
           (3,3,13,"SoccerZone West Austin",8),
           (4,4,10,"SoccerZone East Austin",9)]

cursor.executemany('''INSERT INTO Venue(VID, EID, VenueCapacity, Description, Gear_Availability)
                  VALUES(?,?,?,?,?)''', venuedata)
db.commit()
cursor.execute('''Select * from Venue''')
all = cursor.fetchall()
for v in all:
    print(v)

(1, 1, 15, 'SoccerZone South Austin', 10)
(2, 2, 12, 'SoccerZone North Austin', 13)
(3, 3, 13, 'SoccerZone West Austin', 8)
(4, 4, 10, 'SoccerZone East Austin', 9)

In [17]:
geardata= [(1,"Goalkeeper gloves","The gloves is designed purely to block the ball and to permit the goalkeeper to hold and use his or her stick",3.99,1),
          (2,"Soccer Cleats","The shoes provide traction as you run",5.99,2),
           (3,"Shin Guards","This is a piece of equipment worn on the front of a player's shin to protect it from injury. ",2.49,3)]

cursor.executemany('''INSERT INTO Gear(GID, Name, Description, Price, VID)
                  VALUES(?,?,?,?,?)''', geardata)
db.commit()
cursor.execute('''Select * from Gear''')
all = cursor.fetchall()
for g in all:
    print(g)

(1, 'Goalkeeper gloves', 'The gloves is designed purely to block the ball and to permit the goalkeeper to hold and use his or her stick', 3.99, 1)
(2, 'Soccer Cleats', 'The shoes provide traction as you run', 5.99, 2)
(3, 'Shin Guards', 'Protect legs', 2.49, 3)

In [ ]:
def display_menu():
    print("COMMAND MENU")
    print("Current User - Login")
    print("New User - Sign up now")
    print("Admin -  Login")
    print("exit - Exit program")
    print()

def add_user(name, dob,email,phone, gender):
    name = input("Name: ")
    dob = input("Data of Birth: ")
    email = input("Email: ")
    phone = input("Phone Number: ")
    gender = input("Gender: ")
    cursor.execute('''select * from User''')
    size = len(cursor.fetchall())
    cursor.execute('''INSERT INTO User(UID, Name, DOB, Email, Phone, Gender)
                  VALUES(?,?,?,?,?,?)''',(size+1,name,dob,email,phone,gender))
    db.commit()

def show_venue():
    cursor.execute('''Select * from Venue''')
    all = cursor.fetchall()
    for v in all:
        print(v)
        
        
def
    
def main():
    display_menu()
    while True:
        command = input("Command: ")
        if command == "sign":
            add_user()
        elif command == "venue":
            list_venue()
        elif command == "q":
            print("You have quit this program and we hope to see you soon!")
            
if __name__ == "__main__":
    main()

COMMAND MENU
Current User - Login
New User - Sign up now
Admin -  Login
exit - Exit program

Command: Sign
Command: sign
Name: dsad
Data of Birth: dsa
Email: dadsa
Phone Number: dsadsa
Gender: dsa

In [ ]:
print("this is hard")
print("this is not my name")