In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("sqlite/db/eventmanagement.db")

In [68]:
cursor = db.cursor()
#cursor.execute('''Create Table User(UID Int PRIMARY KEY, Name Text, DOB datetime, Email text, Phone text, Gender Text, Admin Text) ''')
cursor.execute('''Create Table Event(EID Int PRIMARY KEY, Organizer Text, Players int, Time datetime, Venue Int, Capacity Int, Description Text)''')
#cursor.execute('''Create Table Venue(VID Int PRIMARY KEY, EID Int, VenueCapacity Int, Description Text, Gear_Availability Int)''')
#cursor.execute('''Create Table Gear(GID Int PRIMARY KEY, Name Int, Description Text, Price Float, VID Int)''')
db.commit()

In [67]:
cursor.execute('''drop Table Event''')
db.commit()

In [69]:
import datetime
cursor = db.cursor()
users = [('1', 'Lionel Messi', datetime.date(1987,5,27), 'leo@barca.com', '650-123-4567', 'M', 'N'),
        ('2', 'Rohit Sharma', datetime.date(1987,5,13), 'hitman@india.com', '991-263-5100', 'M', 'Y'),
        ('3', 'Jofra Archer', datetime.date(1993,12,29), 'jofracher@fast.com', '145-762-1180', 'M', 'N'),
        ('4', 'Alexandre Lacazette', datetime.date(1991,6,8), 'laca@arsenal.com', '991-263-5100', 'M', 'N'),
        ('5', 'Ellyse Perry', datetime.date(1990,10,20), 'eperry@aussie.com', '130-267-3048', 'F', 'Y'),
        ('6', 'Kane Williamson', datetime.date(1990,2,6), 'kanewill@kiwi.com', '500-241-2410', 'M', 'Y'),
        ('7', 'Ben Stokes', datetime.date(1991,11,16), 'stokesy@england.com', '840-241-2411', 'M', 'N'),
        ('8', 'Alex Morgan', datetime.date(1989,7,1), 'amorgan@usa.com', '492-363-8571', 'F', 'Y'),
        ('9', 'Serena Williams', datetime.date(1981,9,24), 'serena@tennis.com', '565-453-4237', 'F', 'N'),
        ('10', 'Roger Federer', datetime.date(1981,8,12), 'roger@goat.com', '200-985-6278', 'F', 'N')]
events = [('1', 'Austin FC', '0', datetime.datetime(2019,8,10,18), '1', '50', 'Pick up soccer'),
        ('2', 'Austin FC', '0', datetime.datetime(2019,8,17,19), '1', '11', 'Soccer Tournament'),
        ('3', 'Tennis Texas', '0', datetime.datetime(2019,7,29,18), '1', '25', 'Junior drop in organized by Tennis Texas club'),
        ('4', 'Tennis Texas', '0', datetime.datetime(2019,8,15,17), '1', '16', 'Doubles tournament'),
        ('5', 'Cricket Austin', '0', datetime.datetime(2019,8,21,10), '1', '22', 'League game')]
#print(events[0][5])
#cursor.executemany('''INSERT INTO User Values(?,?,?,?,?,?,?)''', users)
cursor.executemany('''INSERT INTO Event Values(?,?,?,?,?,?,?)''', events)    
db.commit()
#cursor.execute('''select * from Event''')
#events = cursor.fetchall()
for e in events:
    print(e)
#cursor.execute('''delete from user where UID = 2''')
#db.commit()

('1', 'Austin FC', '0', datetime.datetime(2019, 8, 10, 18, 0), '1', '50', 'Pick up soccer')
('2', 'Austin FC', '0', datetime.datetime(2019, 8, 17, 19, 0), '1', '11', 'Soccer Tournament')
('3', 'Tennis Texas', '0', datetime.datetime(2019, 7, 29, 18, 0), '1', '25', 'Junior drop in organized by Tennis Texas club')
('4', 'Tennis Texas', '0', datetime.datetime(2019, 8, 15, 17, 0), '1', '16', 'Doubles tournament')
('5', 'Cricket Austin', '0', datetime.datetime(2019, 8, 21, 10, 0), '1', '22', 'League game')