In [44]:
import sqlite3
import datetime

In [45]:
db=sqlite3.connect("pickupsport.db")
cursor = db.cursor()

In [35]:
# create tables
cursor = db.cursor()
cursor.execute('''Create Table User(UID Int PRIMARY KEY, Name Text, DOB datetime, Email text, Phone text, Gender Text, Admin Text) ''')
cursor.execute('''Create Table Event(EID Int PRIMARY KEY, Organizer Text, Players int, Time datetime, VID Int, Capacity Int, Description Text, GID Int)''')
cursor.execute('''Create Table Venue(VID Int PRIMARY KEY, Name Text, Location Text, Description Text)''')
cursor.execute('''Create Table Gear(GID Int PRIMARY KEY, Name Int, Description Text, Price Float)''')
db.commit()

In [34]:
# Clear database
cursor.execute('''Drop Table User''')
cursor.execute('''Drop Table Gear''')
cursor.execute('''Drop Table Event''')
cursor.execute('''Drop Table Venue''')
db.commit()

In [36]:
#insert data into User table
cursor = db.cursor()
users = [('1', 'Lionel Messi', datetime.date(1987,5,27), 'leo@barca.com', '650-123-4567', 'M', 'N'),
        ('2', 'Rohit Sharma', datetime.date(1987,5,13), 'hitman@india.com', '991-263-5100', 'M', 'Y'),
        ('3', 'Jofra Archer', datetime.date(1993,12,29), 'jofracher@fast.com', '145-762-1180', 'M', 'N'),
        ('4', 'Alexandre Lacazette', datetime.date(1991,6,8), 'laca@arsenal.com', '991-263-5100', 'M', 'N'),
        ('5', 'Ellyse Perry', datetime.date(1990,10,20), 'eperry@aussie.com', '130-267-3048', 'F', 'Y'),
        ('6', 'Kane Williamson', datetime.date(1990,2,6), 'kanewill@kiwi.com', '500-241-2410', 'M', 'Y'),
        ('7', 'Ben Stokes', datetime.date(1991,11,16), 'stokesy@england.com', '840-241-2411', 'M', 'N'),
        ('8', 'Alex Morgan', datetime.date(1989,7,1), 'amorgan@usa.com', '492-363-8571', 'F', 'Y'),
        ('9', 'Serena Williams', datetime.date(1981,9,24), 'serena@tennis.com', '565-453-4237', 'F', 'N'),
        ('10', 'Roger Federer', datetime.date(1981,8,12), 'roger@goat.com', '200-985-6278', 'M', 'N')]
cursor.executemany('''INSERT INTO User Values(?,?,?,?,?,?,?)''', users)
db.commit()
cursor.execute('''select * from User''')
user = cursor.fetchall()
for u in user:
    print(u)

(1, 'Lionel Messi', '1987-05-27', 'leo@barca.com', '650-123-4567', 'M', 'N')
(2, 'Rohit Sharma', '1987-05-13', 'hitman@india.com', '991-263-5100', 'M', 'Y')
(3, 'Jofra Archer', '1993-12-29', 'jofracher@fast.com', '145-762-1180', 'M', 'N')
(4, 'Alexandre Lacazette', '1991-06-08', 'laca@arsenal.com', '991-263-5100', 'M', 'N')
(5, 'Ellyse Perry', '1990-10-20', 'eperry@aussie.com', '130-267-3048', 'F', 'Y')
(6, 'Kane Williamson', '1990-02-06', 'kanewill@kiwi.com', '500-241-2410', 'M', 'Y')
(7, 'Ben Stokes', '1991-11-16', 'stokesy@england.com', '840-241-2411', 'M', 'N')
(8, 'Alex Morgan', '1989-07-01', 'amorgan@usa.com', '492-363-8571', 'F', 'Y')
(9, 'Serena Williams', '1981-09-24', 'serena@tennis.com', '565-453-4237', 'F', 'N')
(10, 'Roger Federer', '1981-08-12', 'roger@goat.com', '200-985-6278', 'M', 'N')

In [37]:
#insert data into events table
events = [('1', 'Austin FC', '0', datetime.datetime(2019,8,10,18), '1', '50', 'Pick up soccer', '0'),
        ('2', 'Austin FC', '0', datetime.datetime(2019,8,17,19), '2', '11', 'Soccer Tournament', '0'),
        ('3', 'Tennis Texas', '0', datetime.datetime(2019,7,29,18), '3', '25', 'Junior drop in organized by Tennis Texas club', '0'),
        ('4', 'Tennis Texas', '0', datetime.datetime(2019,8,15,17), '3', '16', 'Doubles tournament', '0'),
        ('5', 'Cricket Austin', '0', datetime.datetime(2019,8,21,10), '4', '22', 'League game', '0')]
cursor.executemany('''INSERT INTO Event Values(?,?,?,?,?,?,?,?)''', events)
db.commit()
cursor.execute('''SELECT * from Event''')
events = cursor.fetchall()
for e in events:
    print(e)

(1, 'Austin FC', 0, '2019-08-10 18:00:00', 1, 50, 'Pick up soccer', 0)
(2, 'Austin FC', 0, '2019-08-17 19:00:00', 2, 11, 'Soccer Tournament', 0)
(3, 'Tennis Texas', 0, '2019-07-29 18:00:00', 3, 25, 'Junior drop in organized by Tennis Texas club', 0)
(4, 'Tennis Texas', 0, '2019-08-15 17:00:00', 3, 16, 'Doubles tournament', 0)
(5, 'Cricket Austin', 0, '2019-08-21 10:00:00', 4, 22, 'League game', 0)

In [38]:
#insert data into venue table
venuedata= [(1,"SoccerZone", "South Austin", "Indoor soccer field"),
           (2,"SoccerZone", "North Austin", "Outdoor soccer field"),
           (3,"Tennis Club Austin", "West Campus", "Eight outdoor tennis courts"),
           (4,"CricketZone", "East Austin", "Giant cricket ground")]
cursor.executemany('''INSERT INTO Venue VALUES(?,?,?,?)''', venuedata)
db.commit()
cursor.execute('''Select * from Venue''')
all = cursor.fetchall()
for v in all:
    print(v)

(1, 'SoccerZone', 'South Austin', 'Indoor soccer field')
(2, 'SoccerZone', 'North Austin', 'Outdoor soccer field')
(3, 'Tennis Club Austin', 'West Campus', 'Eight outdoor tennis courts')
(4, 'CricketZone', 'East Austin', 'Giant cricket ground')

In [39]:
#insert data into gear table
geardata= [(1,"Soccer Gears","Soccer gears include Soccer Shin Guard, Goalkeeper Gloves, Soccer Knee Brace and Soccer Knee Brace",5.99),
          (2,"Basketball Gears","Basketball gears include Arm Sleeves, Knee Sleeves and Pads, Basketball Monthguards and Basketball Goggles",7.99),
           (3,"Tennis Gears","Tennis gears include Tennis Racquets, Tennis Shoes and Hats",4.49)]

cursor.executemany('''INSERT INTO Gear(GID, Name, Description, Price)
                  VALUES(?,?,?,?)''', geardata)
db.commit()
cursor.execute('''Select * from Gear''')
all = cursor.fetchall()
for g in all:
    print(g)

(1, 'Soccer Gears', 'Soccer gears include Soccer Shin Guard, Goalkeeper Gloves, Soccer Knee Brace and Soccer Knee Brace', 5.99)
(2, 'Basketball Gears', 'Basketball gears include Arm Sleeves, Knee Sleeves and Pads, Basketball Monthguards and Basketball Goggles', 7.99)
(3, 'Tennis Gears', 'Tennis gears include Tennis Racquets, Tennis Shoes and Hats', 4.49)

In [46]:
# Function 1: add a new User given the User information and only if the admin is adding the user
def addUser(AccountID, name, dob, email, phone, gender, admin): # Acount ID is UID of the user trying to add a new user
    cursor.execute('''select Admin from User where UID = ?''',(AccountID,))
    iden = cursor.fetchone()
    if iden[0] == "Y":
        cursor.execute('''select * from User''')
        size = len(cursor.fetchall())
        user = (size+1,name, dob, email, phone, gender, admin)
        cursor.execute('''INSERT INTO User VALUES(?,?,?,?,?,?,?)''', user)
        db.commit()
        print(name, "has been successfully added")
    else:
        print("You don't have the rights to remove event(s)!")

# Function 2: add a new User given the User information
def addVenue(AccountID,Name,Location,Description):
    cursor.execute('''select Admin from User where UID = ?''',(AccountID,))
    iden = cursor.fetchone()
    if iden[0] == "Y":
        cursor.execute('''select * from Venue''')
        size = len(cursor.fetchall())
        cursor.execute('''INSERT INTO Venue VALUES(?,?,?,?)''',(size+1,Name,Location,Description))
        db.commit()
        print(Name, "has been successfully added")
    else:
        print(Name, "can't be added since you are not the admin and only admin can add venue")

# Function 3: start a new Event given the Event details   
def addEvent(EID,Organizer,Players,Time,VID,Capacity,Description,GID):
        cursor.execute('''INSERT INTO Event VALUES(?,?,?,?,?,?,?,?)''',(EID, Organizer,Players,Time,VID,Capacity,Description,GID))
        db.commit()

# Function 4: display all timeslot available for a particular venue
def showTimeslotByVenue(venue):
    cursor.execute('''select Time from Event where VID = ?''',(venue,))
    slot = cursor.fetchall()
    for s in slot:
        print(s)

# Function 5: display all venues where a particular timeslot is available
def showAllVenues(*args):
    for time in args:
        print("Venue information at",(time),":")
        cursor.execute('''select VID, Time, Capacity from Event where Time = ?''',(time,))
        allvenue = cursor.fetchall()
        size = len(allvenue)
        if size ==0:
            print("There is no avaliable venues on your selected time.")
        for a in allvenue:
            print(a)
        print("")


# Function 6: display which events are available given a timeslot and venue
def showEventsAtVenueByTime(venue, time):
    cursor.execute('''SELECT Event.Organizer, Event.Players, Event.Capacity, Event.Description FROM Event 
                      INNER JOIN Venue ON Event.VID = Venue.VID WHERE Event.VID = ? AND Event.Time = ? 
                      AND Event.Capacity > 0''',(venue, time))
    eventsAtVenue = cursor.fetchall()
    eventSize = len(eventsAtVenue)
    if(eventSize) == 0:
        print("There are no avaliable events for your selected time and venue.")     
    for e in eventsAtVenue:
        print(e)

#Function 7: add a user to an event by decreasing the event's capacity
def addUserToEvent(user, event):
    cursor.execute('''SELECT Players, Capacity, Organizer FROM Event where EID = ?''',(event,))
    eventToJoin = cursor.fetchone()
    players = int(eventToJoin[0])
    capacity = int(eventToJoin[1])
    organizer = eventToJoin[2]
    cursor.execute('''SELECT Name from User where UID = ?''',(user,))
    userToJoin = cursor.fetchone()
    userName = userToJoin[0]
    if (players < capacity):
        print("{} has joined event {}".format(userName,organizer))
        players += 1
        cursor.execute('''UPDATE Event SET Players = ? where EID = ?''', (players, event))
        db.commit()
    else:
        print("Event full, player cannot be added")

# Function 8: remove a user from an event
def removeUserFromEvent(user, event):
    cursor.execute('''SELECT Players, Organizer FROM Event where EID = ?''',(event,))
    eventToLeave = cursor.fetchone()
    players = int(eventToLeave[0])
    organizer = eventToLeave[1]
    cursor.execute('''SELECT Name from User where UID = ?''',(user,))
    userToLeave = cursor.fetchone()
    userName = userToLeave[0]
    if (players > 0):        
        print("{} has left event {}".format(userName,organizer))
        players -= 1
        cursor.execute('''UPDATE Event SET Players = ? where EID = ?''', (players, event))
        db.commit()
    else:
        print("Event has no players!")
        
# Function 9: remove an event only if admin is accessing the table
def removeEvent(UID,*args):
    cursor.execute('''select Admin from User where UID = ?''',(UID,))
    iden = cursor.fetchone()
    if iden[0] == "Y":
        for EID in args:
            cursor.execute('''delete from Event where EID = ?''',(EID,))
            db.commit()
            print("Event with EID",EID,"has been removed")
    else:
        print("You don't have the rights to remove event(s)!")
        
# Function 10: show all Users
def showAllUsers():
    cursor.execute('''select * from User''')
    users = cursor.fetchall()
    for u in users:
        print(u)
        
# Function 11: add a new gear
def addGear(Name,Description,Price):
    cursor.execute('''SELECT COUNT(*) FROM Gear''')
    size = cursor.fetchone()
    cursor.execute('''INSERT INTO Gear VALUES(?,?,?,?)''',(size[0]+1,Name,Description,Price))
    db.commit()
    
# Function 12: add a gear type to a particular event
def addGearToEvent(GID, EID):
    cursor.execute('''UPDATE Event SET GID = ? WHERE EID = ?''',(GID,EID))
    db.commit()
    
# Function 13: show all events
def showAllEvents():
    cursor.execute('''SELECT * from Event''')
    events = cursor.fetchall()
    for e in events:
        print(e)

In [59]:
#call function 1
addUser(2,'Jaylen Brown',datetime.date(1996,10,24),'jaybrown@ucb.com','343-406-8729','M','N')
print(" ")
addUser(1,'Stephen Curry',datetime.date(1988,5,14),'stepcurry@golden.com','815-205-7819','M','N')

Jaylen Brown has been successfully added

You don't have the rights to remove event(s)!

In [42]:
#call function 2
addVenue(1, "Basketball Arena", "Downtown Austin","Indoor premium basketball field")
print(" ")
addVenue(2, "Basketball Arena", "Downtown Austin","Indoor premium basketball field")

Basketball Arena can't be added since you are not the admin and only admin can add venue

Basketball Arena has been successfully added

In [43]:
#call function 3
addEvent(6, "CricketAustin",0,datetime.datetime(2019,10,23,0),2,24,"For demo purpose",0)

In [47]:
#call function 4
showTimeslotByVenue(2)

('2019-08-17 19:00:00',)
('2019-08-10 18:00:00',)

In [41]:
#call function 5
showAllVenues(datetime.datetime(2019,7,29,18),datetime.datetime(2019,10,23,0))

Venue information at 2019-07-29 18:00:00 :
(3, '2019-07-29 18:00:00', 25)

Venue information at 2019-10-23 00:00:00 :
There is no avaliable venues on your selected time.

In [48]:
#call function 6
showEventsAtVenueByTime(3,datetime.datetime(2019,7,29,18))

('Tennis Texas', 3, 25, 'Junior drop in organized by Tennis Texas club')

In [48]:
#call function 7
addUserToEvent(11,5)
addUserToEvent(10,3)
addUserToEvent(1,4)

Jaylen Brown has joined event Cricket Austin
Roger Federer has joined event Tennis Texas
Lionel Messi has joined event Tennis Texas

In [50]:
# call function 8
removeUserFromEvent(1,4)
removeUserFromEvent(3,2)

Lionel Messi has left event Tennis Texas
Event has no players!

In [51]:
#call function 9
removeEvent(1,5,6)
print(" ")
removeEvent(2,5,6)

You don't have the rights to remove event(s)!

Event with EID 5 has been removed
Event with EID 6 has been removed

In [49]:
#call function 10
showAllUsers()

(1, 'Lionel Messi', '1987-05-27', 'leo@barca.com', '650-123-4567', 'M', 'N')
(2, 'Rohit Sharma', '1987-05-13', 'hitman@india.com', '991-263-5100', 'M', 'Y')
(3, 'Jofra Archer', '1993-12-29', 'jofracher@fast.com', '145-762-1180', 'M', 'N')
(4, 'Alexandre Lacazette', '1991-06-08', 'laca@arsenal.com', '991-263-5100', 'M', 'N')
(5, 'Ellyse Perry', '1990-10-20', 'eperry@aussie.com', '130-267-3048', 'F', 'Y')
(6, 'Kane Williamson', '1990-02-06', 'kanewill@kiwi.com', '500-241-2410', 'M', 'Y')
(7, 'Ben Stokes', '1991-11-16', 'stokesy@england.com', '840-241-2411', 'M', 'N')
(8, 'Alex Morgan', '1989-07-01', 'amorgan@usa.com', '492-363-8571', 'F', 'Y')
(9, 'Serena Williams', '1981-09-24', 'serena@tennis.com', '565-453-4237', 'F', 'N')
(10, 'Roger Federer', '1981-08-12', 'roger@goat.com', '200-985-6278', 'M', 'N')
(12, 'Jaylen Brown', '1996-10-24', 'jaybrown@ucb.com', '343-406-8729', 'M', 'N')

In [53]:
#call function 11
addGear('Tennis','Tennis rackets','99.99')

In [54]:
#call function 12    
addGearToEvent(4,4)

In [11]:
# call function 13
showAllEvents()

(1, 'Austin FC', 0, '2019-08-10 18:00:00', 1, 50, 'Pick up soccer', None)
(2, 'Austin FC', 1, '2019-08-17 19:00:00', 2, 11, 'Soccer Tournament', 3)
(3, 'Tennis Texas', 3, '2019-07-29 18:00:00', 3, 25, 'Junior drop in organized by Tennis Texas club', 3)
(4, 'Tennis Texas', 5, '2019-08-15 17:00:00', 3, 5, 'Doubles tournament', 4)
(5, 'Austin Basketball', 6, '2019-08-10 18:00:00', 2, 10, 'Basketball pick up', 0)

In [81]:
cursor.execute('''Create Table Players(PID Int PRIMARY KEY, UID Int, EID Int)''')
def addUserToEvent2(user, event):
    cursor.execute('''SELECT Players, Capacity, Organizer FROM Event where EID = ?''',(event,))
    eventToJoin = cursor.fetchone()
    players = int(eventToJoin[0])
    capacity = int(eventToJoin[1])
    organizer = eventToJoin[2]
    cursor.execute('''SELECT Name from User where UID = ?''',(user,))
    userToJoin = cursor.fetchone()
    userName = userToJoin[0]
    if (players < capacity):
        cursor.execute('''SELECT EID from Players where UID = ?''',(user,))
        playerEvents = cursor.fetchall()
        playerAlreadyAdded = False
        for pE in playerEvents:
            if pE[0] == event:
                playerAlreadyAdded = True
        if playerEvents is None:
            cursor.execute('''select * from Players''')
            size = len(cursor.fetchall())
            playerToJoin = (size+1, user, event)
            cursor.execute('''INSERT INTO Players VALUES(?,?,?)''', playerToJoin)
            db.commit()
            print("{} has joined event {}".format(userName,organizer))
            players += 1
            cursor.execute('''UPDATE Event SET Players = ? where EID = ?''', (players, event))
            db.commit()
        elif playerEvents is not None and not playerAlreadyAdded:
            cursor.execute('''select * from Players''')
            size = len(cursor.fetchall())
            playerToJoin = (size+1, user, event)
            cursor.execute('''INSERT INTO Players VALUES(?,?,?)''', playerToJoin)
            db.commit()
            print("{} has joined event {}".format(userName,organizer))
            players += 1
            cursor.execute('''UPDATE Event SET Players = ? where EID = ?''', (players, event))
            db.commit()
        else:
            print("{} has already joined event {}, cannot be added again".format(userName,organizer))
    else:
        print("Event full, player cannot be added")
addUserToEvent2(8,2)
addUserToEvent2(5,3)

Alex Morgan has joined event Austin FC
Ellyse Perry has already joined event Tennis Texas, cannot be added again